# Loại trừ các file không nên tính vào ngôn ngữ chính
*.md linguist-documentation
*.ipynb linguist-generated
*.json linguist-generated
*.yml linguist-generated
*.yaml linguist-generated
*.txt linguist-documentation

# Loại trừ các thư mục không mang tính code chính
vision_opencv/** linguist-vendored
notebooks/** linguist-generated

*.cpp linguist-detectable=true
*.h linguist-detectable=true
*.hpp linguist-detectable=true
*.cu linguist-detectable=true

# Nếu muốn vẫn tính Python là phụ (nếu có logic riêng trong .py)
*.py linguist-detectable=true
