# Loại trừ các file không nên tính vào ngôn ngữ chính
*.md linguist-documentation
*.ipynb linguist-generated
*.json linguist-generated
*.yml linguist-generated
*.yaml linguist-generated
*.txt linguist-documentation

vision_opencv/** linguist-vendored
notebooks/** linguist-generated

*.cpp linguist-detectable=true
*.h linguist-detectable=true
*.hpp linguist-detectable=true
*.cu linguist-detectable=true

*.py linguist-detectable=true
